body {
    background-color: #282C35;
    color: white;
}
.breadcrumb{
 background-color:transparent;
 }

 table {
            color: white;
        }
        th, td {
            border: 1px solid #ffffff;
        }
        .navbar-brand {
    font-weight: bold;
    color: white !important;
}

.nav-item {
    margin-left: 40px;
}

.navbar-nav .nav-item .nav-link {
    padding: 8px 10px;
    color: white;
    transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #28a745;
}

.navbar-nav .nav-item .nav-link i {
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover i {
    color: #28a745;
}

.navbar-nav .nav-item .dropdown-menu {
    margin: 0;
}

.navbar .form-control {
    width: 300px;

}

.navbar .form-control + .btn {
    margin-left: 5px;
}

.navbar {
    background-color: black;
    height: 80px;
}
   th, td {
            color: white;
            border: 1px solid #ffffff;
        }
        th {
            background-color: #495057;
        }
        tr:nth-child(even) {
            background-color: #495057;
        }
